.card {
  color: floralwhite;
  background-color: black;
  border: none;
  /* cursor: pointer; */
}

.clickable {
  cursor: pointer;
}

.milky-background {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1%;
}

.sport-event-name {
  color: rgb(0,0,0);  
}

.card-country-flag {
  max-width: 64px;
}