body {
  font-family: 'PT Serif', serif;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.card h1, h2 {
  font-family: 'Lato', sans-serif;
  font-size: large;
  color: rgb(0, 0, 0);
}

h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

/* .clickable {
  cursor: pointer;
} */

.milky-background {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1%;
}

.card-link {
  position:relative; /*this makes class .card-link work in cards with class .card-img-overlay */
}

.card-body { /*helps that the card-link is pushed to the bottom by class mt-auto*/
  display: flex;
  flex-direction: column;
}