body {
  font-family: 'PT Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: bold;
}

/* Format inputFields */
input, label, .form-text {
  font-family: 'Lato', sans-serif;
}

.inline {
  display: inline;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
/* .clickable {
  cursor: pointer;
} */

.milky-background {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1%;
}

.bg-dark-transparent {
  background-color: rgba(33, 37, 41, 0.6);
  padding: 1%;
}

.card-link {
  position:relative; /*this makes class .card-link work in cards with class .card-img-overlay */
}

.card-body { /*helps that the card-link is pushed to the bottom by class mt-auto*/
  display: flex;
  flex-direction: column;
}

.card-img-over { /* card-img-overlay seems to exist */
    width: 100%;
    height: 20vh; /*not want to take all vertical space*/
    object-fit: cover;/*show all image, autosized, no cut, in available space*/
}

.event-logo {
  max-height: 80px;
  float: right; /* push logo to the right */
}